<aside class="sidebar">
    <button class="close-btn" (click)="toggleSidebar()">
        <mat-icon>arrow_back</mat-icon>
    </button>

    <ul>
        <li><a routerLink="/dashboard"><mat-icon>dashboard</mat-icon> Dashboard</a></li>
        <li><a routerLink="/transactions"><mat-icon>account_balance</mat-icon> Transactions</a></li>
        <li><a routerLink="/accounts"><mat-icon>credit_card</mat-icon> Accounts</a></li>
        <li><a routerLink="/settings"><mat-icon>settings</mat-icon> Settings</a></li>
    </ul>
</aside>